
/* NAV STYLE */

.topnav {
    
    overflow: hidden;
    background-color: #333;
    border-bottom: 8px solid #E60004;
    font-weight:normal;
    
  
}

.topnav a {
    text-align: center;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 24px 24px;
    text-decoration: none;
}

.active, .topnav a:hover {
    background-color: #E60005;
    color: white;
}

/* NAV STYLE ENDS*/


html {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}


body {
    height: 100%;
    margin: 0;
   
    background-color: #ffffff;
}

.wrap {    
  margin: auto;
  width: 80%;
  max-width: 1080px;
  padding-bottom: 10px;    
  
}

.content {
    background-color: rgb(255, 255, 255);
    padding: 5%;
    padding-top: 1%;
    min-height: 500px;
    height:auto;
    margin: auto;
    max-width: 1080px;
}

img {
  width: 100%;
  height:auto;
}

.img-thmp {
  width: 25%;
  height:auto;
}

.img_container {
  width:100%;
  overflow:auto;
}
.img_container div {
  width:27%;
  margin:3%;
  float:left;
}

h1,h2,h3 {
    font-family:Arial Black;
}

/* FOOTER */

.footer {

    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    min-height: 50px;
    
    border-top: 8px solid #E60004;
}
