
/* NAV STYLE */

.topnav {
    border-radius: 15px 50px 0 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 8px solid #008CBA;
    font-weight: bold;
    min-width: 1000px;
}

.topnav a {
    text-align: center;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.active, .topnav a:hover {
    background-color: #008CBA;
    color: white;
}

/* NAV STYLE ENDS*/


html {
    height: 100%;
    font-family:Palatino Linotype;
}

* {
    box-sizing: border-box;
}

table {
    font-size: 12px;
    max-width: 800px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 5px 10px #000;
}
body {
  
    height: 100%;
    margin: 0;
    padding-top:10px;
    background-color: #928575;
}

.content {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #ddd;
    padding: 5%;
    padding-top: 1%;
    min-height: 500px;
    height:auto;
    min-width: 1000px;
}

/* Assignment box */
.assignbox {
    margin: 10px;
  /*  border: 1px solid #000;*/
  /* background-color: #FCFF54; */
    background-color: #B2FFF2;
    padding: 10px;
     box-shadow: 2px 5px 10px #000;
} 

/* Assignment answer box */
.answer {
    margin: 10px;
    padding: 10px;   
   /*  background-color: #FFF;
         box-shadow: 2px 5px 10px #000; */
}

.about {
   padding-right: 15px;
}

.aboutimg {
    width:25%;
    min-width: 100px;
    float: right;
}

.wrap {    
   border-radius: 15px 50px;
    margin: auto;
    width: 80%;
    max-width: 1080px;
    box-shadow: 5px 5px 10px #000;
    border: 1px solid #000;  
    min-width: 1000px;
}

.boxwrapper {
   height:400px;
}
/* Assignments page image box */
.box {
    border-radius: 15px 50px;
    position:relative;
    float: left;
    width: 150px;
    height: 150px;
    margin: 15px;
}

/* Assignments page image */
.image {
    border-radius: 15px 50px;
  display: block;
  width: 150px;
  height: 150px;
}

/* Assignments page box overlay*/
.overlay {
  border-radius: 15px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  opacity: 0; /*whole thing is hidden */
  transition: .5s ease;
  background-color: #008CBA;
}

/* Assignments page box overlay hover */
.box:hover .overlay {
  opacity: 0.95;
}

/* Assignment page box overlay text */
.text {
  color: white;
  font-size: 19px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Assignment page box overlay text 2 */
.text2 {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* for all images on assignment pages */
.answerimgs {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 5px 10px #000;
    width:100%;
}

/* Image titles in answer */
.imgoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  max-width:100%;

  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;

}

/* Image title wrapper box */
.imgbox {  
    position:relative; 
    width:100%;
}


/* Image title overlay hover */
.imgbox:hover .imgoverlay{
  opacity: 0.8;
}

/* Image title text */
.imgtxt { 
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);   
 
  
}

/* git command lines */
.cmndbox {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-color: #EAE4D5;
    padding: 12px;
    box-shadow: 1px 1px 3px #000;
    width: 75%;
    font-family:Lucida Console;
    font-size: 12px;
}
h2 {
    font-family:Arial Black;
    
}

.footer {
    border-radius: 0 0 15px 50px;
    background-color: #008CBA;
    padding: 10px;
    text-align: right;
    color: white;
    min-height: 70px;
    min-width: 1000px;
}

/* up arrow */
.up {
    display: block;
    margin:auto;
    left:50%;
    width:80px;
    
}
/* Footer images */
.image2 { 
  display: block;
  width: 20%;
  height: 20%;
    margin-bottom:20px;
}